* {
  margin: 0;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,sans-serif;
  padding: 0;
  box-sizing: border-box;
}
.main {
  background-image: url(./assets/images/bg_image.jpg);
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
  height: 100vh;
  position: relative;
}
.box {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.69;
  position: absolute;
  top: 0;
}
.logo {
  z-index: 10;
  width: 154px;
  position: relative;
}
#nav-bar {
  padding: 35px 10px;
  display: flex;
  margin: auto;
  max-width: 79vw;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}
nav button {
  position: relative;
  z-index: 10;
}
.lang-eng {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding: 10px 20px;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  cursor: pointer;
}
#sign-in-btn {
  background-color: red;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  margin-left: 20px;
  font-weight: bolder;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}
.content {
  padding: 20vh 0vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: calc(100% - 62px);
}
.content span {
  color: white;
  position: relative;
  text-align: center;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}
.fir_line,
.sec_line {
  padding-bottom: 15px;
}
.fir_line {
  font-size: 3rem;
  font-weight: bolder;
}
.sec_line,
.thi_line {
  font-size: 1.5rem;
  font-weight: bold;
}
#email {
  background-color: rgba(0, 0, 0, 0.6);
  padding-left: 10px;
  padding-right: 10px;
  height: 45px;
  width: 35vw;
  color: white;
  border: none;
}

.last_line {
  margin-left: 500px;
  display: flex;
  text-align: center;
  justify-content: baseline;
  margin-top: 15px;
}
#gs-btn {
  text-align: center;
  height: 3.2vw;
  background-color: red;
  color: white;
  position: relative;
  cursor: pointer;
  font-weight: bold;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.2rem;
  border-radius: 6px;
  margin-left: 10px;
}

.first_sec {
  position: relative;
  border-top: solid 5px rgb(134, 132, 132);
  width: 100%;
  display: flex;
  background-color: black;
  border-bottom: solid 5px rgb(134, 132, 132);
}

.first_sec_img img {
  position: relative;
  z-index: 10;
}
.first_sec_content {
  width: 50vw;
  padding-left: 70px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: baseline;
  text-align: start;
  font-weight: bold;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}
.first_sec_head {
  font-size: 3rem;
  padding-bottom: 20px;
}

.first_sec_sub {
  font-size: 1.5rem;
}

.first_sec_img {
  display: flex;
}
.first_sec_img video {
  position: absolute;
  padding: 80px 80px;
}

.sec_sec,
.thi_sec {
  position: relative;
  border-top: solid 3px rgb(134, 132, 132);
  width: 100%;
  height: 80vh;
  display: flex;
  background-color: black;
  border-bottom: solid 3px rgb(134, 132, 132);
}

.thi_sec .first_sec_img img {
  position: relative;
  z-index: 10;
}

.thi_sec .first_sec_img video {
  padding: 45px 118px;
  position: absolute;
}
.sec_sec .first_sec_content {
    width: 50vw;
    padding-left: 70px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: baseline;
    text-align: start;
    font-weight: bold;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
      sans-serif;
  }
  .thi_sec .first_sec_content {
    width: 50vw;
    padding-left: 70px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: baseline;
    text-align: start;
    font-weight: bold;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
      sans-serif;
  }

  .faq-box{
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    border-top: solid 3px rgb(134, 132, 132);
  }
  .faq h2{
    font-size: 3.5rem;
    padding-top: 30px;
    font-weight: 500;
  }

  .faq_q:hover{
    background-color: rgb(65,65,65);
    cursor: pointer;
  }
  .faq{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,sans-serif;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 100px;
  }
  .faq_q{
    font-size: 1.5rem;
    padding: 34px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: #2d2D2D;
    width: auto;
  }

  .last{
    background-color: black;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    display: flex;
    flex-direction: column;
    border-bottom: solid 5px rgb(134, 132, 132);
    width: 100%;
  }
  .last .last_line{
    padding: 20px;
    margin:auto;
    padding-bottom: 40px;
  }

  footer{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    margin: auto;
  }

  a{
    color: white;
  }

  .last_sites{
    display: flex;
    justify-content: space-evenly;
    text-align: start;
    margin-left: 170px;
  }
  li{
    list-style-type: none;
    font-size: 1rem;
    padding: 10px;
  }
  .fir_col{
    margin: 0;
    padding: 30px;
  }
  #Created_by{
    color: black;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
    background-color: yellow;

  }

  @media screen and (min-width: 600px){
    .last_line{
        flex-wrap: wrap;
        margin: auto;
    }
    
  }